<div>
    <div class="bg-light lter b-b wrapper-md">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h1 class="m-n font-thin h3" ng-if="title != '添加代理商'">添加商品</h1>
        <h1 class="m-n font-thin h3" ng-if="title == '添加代理商'">添加代理商</h1>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading" ng-if="title != '添加代理商'">商品列表</div>
            <div class="panel-heading" ng-if="title == '添加代理商'">代理商列表</div>
            <div class="panel-body b-b b-light">
                <form>
                    <span ng-if="ael == 'add'">
                        搜索：
                    <input id="enterprise_name" type="text" onfocus="this.focus()" ng-model="search_words.keywords" class="form-control input-sm w-sm inline m-r" placeholder="商品名 | 规格 | 包装" ng-if="title != '添加代理商'"/>
                    <input id="enterprise_name" type="text" onfocus="this.focus()" ng-model="search_words.keywords" class="form-control input-sm w-sm inline m-r" placeholder="代理商名称" ng-if="title == '添加代理商'"/>
                    <button class="btn m-b-sm  btn-success" style="width: 70px; margin-top: 10px;" ng-click="search()">查询</button>
                    </span>
                    <div class="form-group" style="margin: 0">
                        <button class="btn m-b-sm  btn-info" ng-if="ael == 'add' && title != '添加代理商'" ng-click="batch_add()">添加商品</button>
                        <button class="btn m-b-sm  btn-info" ng-if="ael == 'add' && title == '添加代理商'" ng-click="batch_add()">添加代理商</button>
                    </div>
                </form>
            </div>
                <div ng-if="title != '添加代理商'">
                    <table class="table table-striped b-t b-light">
                        <thead>
                        <tr>
                            <th ng-if="selectFlag != 's'">
                                <label class="i-checks m-b-none">
                                    <input type="checkbox" class="select-all" ng-click="selectAll($event)"><i></i>
                                </label>
                            </th>
                            <th ng-if="selectFlag == 's'"></th>
                            <th>
                                商品名称
                            </th>
                            <th>
                                商品中间层名称
                            </th>
                            <th>
                                商品基本包装
                            </th>
                            <th>
                                商品规格
                            </th>
                            <th>
                                商品商城售价
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in commonclassList">
                            <td ng-if="selectFlag != 's'">
                                <label class="i-checks m-b-none">
                                    <input type="checkbox" ng-checked="data.checked" class="single-check1" ng-click="selectSingle($event,data)"><i></i>
                                </label>
                            </td>
                            <td ng-if="selectFlag == 's'">
                                <label class="i-checks m-b-none">
                                    <input type="radio" name="commodity" class="single-check1" ng-click="selectSingle($event,data)"><i></i>
                                </label>
                            </td>
                            <td>{{data.commodity_name}}</td>
                            <td>{{data.commodity_center_name != null ? data.commodity_center_name : data.commodity_specification_name}}</td>
                            <td>{{data.goodsunit}}</td>
                            <td>{{data.commodity_specification_name}}</td>
                            <td>{{data.price}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            <div ng-if="title == '添加代理商'">
                <table class="table table-striped b-t b-light">
                    <thead>
                    <tr>
                        <th></th>
                        <th>
                            代理商名称
                        </th>
                        <th>
                            代理商用户名
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in agentList">
                        <td>
                            <label class="i-checks m-b-none">
                                <input type="radio" name="commodity" class="single-check1" ng-click="selectSingleRadio($event,data)"><i></i>
                            </label>
                        </td>
                        <td>{{data.name}}</td>
                        <td>{{data.username}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
                <nav ng-if="totalPage > 0">
                    <ul class="pager">
                        <li><a href="javascript:void(0)" ng-click="firstPage()">第一页</a></li>
                        <li><a href="javascript:void(0)" ng-click="previousPage()">上一页</a></li>
                        <li> 当 前 第 <input type="text" style="padding: 5px; width: 50px; text-align: center" ng-model="inputPage" ng-change="selectPage(inputPage)"> 页 / 共 {{totalPage}} 页 </li>
                        <li><a href="javascript:void(0)" ng-click="nextPage()">下一页</a></li>
                        <li><a href="javascript:void(0)" ng-click="lastPage()">最后一页</a></li>
                    </ul>
                </nav>
        </div>

        </div>
    </div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="cancel()">关闭</button>
</div>
</div>
